.home img {
  transform-origin: center center;
  transition: all 0.5s ease 0.1s;
}
div > .animated-logo:hover img {
  transform: rotateY(180deg) scale(1.3);
}

main button {
  transition: transform 0.3s ease;
  transform-origin: left;
}

main button:hover {
  transform: skewY(10deg);
}

.learn button {
  transition: all 0.3s ease;
  transform: scale(1);
}

.learn button:hover {
  background: #fff;
  color: #39c2d7;
  transform: scale(0.95);
}
